

.banner{
    background-image: url('../../../assets/images/onlineparking-161103004304-thumbnail.jpg');
    height: 650px;
    background-position: center top;
    background-size: cover;
}
.banner h5{
    color: white;
    font-weight: bold;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    top: 40%;
    left: 30%;
}
.register-form{
    background-color: rgb(201, 195, 195);
     text-align: center;
     width: 600px;
     margin-left: 450px;
     margin-top: 50px;
     margin-bottom: 50px;;
     padding: 50px;
     padding-left: 30px;
     padding-right: 30px;
 }
 .form-group{
     margin-left: 2px;
     margin-right: 2px;
 }
 .form-group{
     text-align: left;
 }
 .regisbutton{
     text-align: right; 
 }
 .btm.btn-login{
     background-color: rgb(46, 46, 249);
     color: white;
     padding: 3px;
     border-radius: 50px;
 }
 