<div class="table_res">
<table>
    <thead>
        <tr>
            <th>S.No</th>
            <th>Candidate</th>
            <th>Candidate_name</th>
            <th>Parties</th>
            <th>Vote</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td><img src="../../../assets/images/admk.webp"></td>
            <td>Edappadi Palaniswami</td>
            <td>ADMK</td>
            <span class="action_btn">
            <td><button (click)="onButtonClick()" [disabled]="buttonDisabled">{{ buttonLabel }}</button>
            </td>
           
            </span>
        </tr>
        <tr>
            <td>2.</td>
            <td><img src="../../../assets/images/seeman.jpg"></td>
            <td>Seeman</td>
            <td>Naam Tamilar Katchi</td>
            <span class="action_btn">
            <td><button (click)="onButtonClick()" [disabled]="buttonDisabled">{{ buttonLabel }}</button>
            </td>
            
            </span>
        </tr>
        <tr>
            <td>3.</td>
            <td><img src="../../../assets/images/stalin.jpg"></td>
            <td>Muthuvel Karunanidhi Stalin</td>
            <td>DMK</td>
            <span class="action_btn">
            <td><button (click)="onButtonClick()" [disabled]="buttonDisabled">{{ buttonLabel }}</button>
            </td>
            
            </span>
        </tr>
        <tr>
            <td>4.</td>
            <td><img src="../../../assets/images/kamal.jpeg"></td>
            <td>Kamal Haasan</td>
            <td>Makkal Needhi Maiam </td>
            <span class="action_btn">
            <td><button (click)="onButtonClick()" [disabled]="buttonDisabled">{{ buttonLabel }}</button>
            </td>
            </span>
        </tr>
    </tbody>
</table>
</div>
<!--The below comment can be used to display the count-->
<!-- ${this.clickCount} -->
