<div class="container-fluid footer">
<div class="row">
    <div class="col-lg-4">
        <h2>Voting poll</h2>
        <p>Copyright © 2023 E-Voting , Inc.</p>
</div>
<div class="col-lg-6">
  <a routerLink="terms"  href="#" target="_blank"><i class="bi bi-card-checklist">&nbsp;&nbsp;&nbsp;</i>Terms and condition</a>
 <div class="privacy">
   <a routerLink="privacy" href="#" target="_blank"><i class="bi bi-card-checklist">&nbsp;&nbsp;&nbsp;</i>Privacy policy</a>
  </div>
</div>
</div>
</div>
