<h1>Terms and conditon</h1>

<p>It is your website, therefore you can decide how it should be used.

    It is common to see terms and conditions which include a list of prohibitions or general guidelines to be followed by users. These can be broad, such as stating that your services are not to be used for illegal or unlawful purposes or that users must not try to breach or test the vulnerability of your network or circumvent security measures.
    
    If your platform is collaborative, meaning users are invited to share such as on a social media network, you could have a separate page with community guidelines, which you could link to in that clause.
    
    You can reserve the right to terminate the contract or disable user accounts should there be a violation of any of your terms, guidelines, and conditions by including a termination clause – this is very common in the case of websites and SaaS applications.
    
    After all, you want to be able to take action should someone misuse your product. You may even take a step further an create a detailed acceptable use policy to go along with your terms.</p>