h2{
    text-align: center;
    margin-top: 30px;
}
.banner{
    background-image: url('../../../assets/images/car.jpeg');
    height: 650px;
    background-position: center top;
    background-size: cover;
}
a{
   margin-top: 200px;
   margin-left: 685px; 
   text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
    background-color: black;
}